/* GRID LAYOUT */
.projectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

/* CARD */
.card {
  background: #000;
  border-radius: 18px;
  padding: 30px 20px;
  text-align: center;
  border: 2px solid rgb(250, 80, 250);
  box-shadow: 0 0 25px rgba(0, 180, 219, 0.35);
  transition: all 0.4s ease;
}

/* CARD HOVER */
.card:hover {
  transform: translateY(-12px);
  border-color: #ee85a8;
  box-shadow: 0 0 35px rgba(238, 133, 168, 0.9);
}

/* CIRCLE IMAGE */
.circleImg {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #b06ab3;
  padding: 6px;
  background: #000;
}

.circleImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* TITLE */
.cardTitle {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 600;
    color: rgb(250, 80, 250);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .projectsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projectsGrid {
    grid-template-columns: 1fr;
  }
}
.carddetail{
  color: white;
}
