.skill1 {
  background: linear-gradient(90deg, #00b4db, #b06ab3, #ee85a8);
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 60px;
}

.skill {
  font-weight: 800;
  font-size: 60px;
  color: white;
}

.sprskill {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin-bottom: 40px;
}

/* Card */
.skillCard {
  width: 520px;
  margin: auto;
  padding: 30px;
  border-radius: 16px;
  position: relative;
  background: #0c0c0c;
}

/* Gradient border */
.skillCard::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 16px;
  background: linear-gradient(90deg, #ff4ecd, #7f5cff);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.skillBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.skillHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skillName {
  color: white;
  font-weight: 600;
}

.percent {
  color: white;
  font-weight: 600;
}

.barContainer {
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
}

.barFill {
  height: 100%;
  background: linear-gradient(90deg, #00f5ff, #b86bff, #ff77c8);
  border-radius: 20px;
  transition: width 0.8s ease;
}